.language
{
	padding-bottom: 2px;
	background-position: left 7px;
	background-repeat: no-repeat;
	margin-left: 5px;
	padding-left: 20px;
	text-align: left;
}
.language A
{
	line-height: 10px;
	font-size: 12px;
}
#i18n-options-container
{
	width:200px;
	border-radius: 5px 5px 5px 5px;
}
#i18n-options
{
	z-index: 1000;
	text-align: right;
	font-size: 75%;
	padding: 10px;
}
#i18n-regions
{
	height: 30px;
	margin: 0 auto;
	position: relative;
	padding: 10px;
	display: none;
}
#i18n-regions ul
{
	list-style: none outside none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
}
#i18n-regions li
{
	background: none repeat scroll 0 0 transparent;
	float: left;
	font-size: 12px;
	font-weight: normal;
	list-style: none outside none;
	padding: 0;
	text-transform: uppercase;
}
#i18n-regions ol
{
	display: block;
	list-style: square inside none;
	margin: 0;
	padding: 0;
}
#i18n-regions li.lang
{
	background: none repeat scroll 0 0 transparent;
	font-size: 11px;
	font-weight: normal;
	line-height: 15px;
	list-style: none outside none;
	margin: 0 5px 0 0;
	padding: 0;
	text-transform: none;
	white-space: nowrap;
}
.language_EN
{
	background-image: url(/content/code52.i18n/images/flags/gb.png);
}
.language_IT
{
	background-image: url(/content/code52.i18n/images/flags/it.png);
}
.language_FR
{
	background-image: url(/content/code52.i18n/images/flags/fr.png);
}
.language_ES
{
	background-image: url(/content/code52.i18n/images/flags/es.png);
}
.language_DE
{
	background-image: url(/content/code52.i18n/images/flags/de.png);
}
