<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<title>{{ site.appname }}</title>
		<link rel="shortcut icon" href="icon.png" />
		<style>
			{% include default.css %}
			{% include nuget-button.min.css %}
		</style>
	</head>
	<body>
		<div id="container">
			{{content}}
		</div>
		<div style="clear:both">&nbsp;</div>
	</body>
</html>